body{
background: rgb(125, 158, 6);
}
h1{ 
    color:rgb(255, 0, 0);
font-size: 60px;
text-align: center;
}

p{
    text-align: center;
   

}
img{
display: flex;


}
.item_lista_Cabesalho{
padding-left: 30px;
list-style: none;
margin-left: 200px;
}